body {
  background: white;
  font-family: sans-serif;
}

.container {
  background: papayawhip;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  border: 1px solid black;
  margin-bottom: 5px;
}

.item > h2 {
  font-size: 15px;
}